:root {
    --Purple: hsl(259, 100%, 65%);
    --Lightred: hsl(0, 100%, 67%);
    --Offwhite: hsl(0, 0%, 94%);
    --Lightgrey: hsl(0, 0%, 86%);
    --Smokeygrey: hsl(0, 1%, 44%);
    --Offblack: hsl(0, 0%, 8%); 
     
}

html {
    box-sizing: border-box ;
}

*, *:before, *:after {
    /* box-sizing: inherit; */
    font-family: 'Poppins', sans-serif;
    outline-style: solid;
    outline-width: 1px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: var(--Offwhite);
    height: 100vh;
    /* width: 100vw; */
}

#wh {
    position: absolute;
    left: 0;
    top: 0;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    width: 80vw;
    height: 50vh;
    border-radius: 30px;
    border-bottom-right-radius: 80px;
    padding: 2rem 0;
}

.date {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-row: 1/2; */
    color: var(--Smokeygrey);
    padding: 0 1.5rem;
    gap: 1rem;
}

.day, .month, .year {
    display: flex;
    flex-direction: column;
    /* align-items: baseline; */
    align-content: space-evenly;
    /* gap: 1rem; */
    /* padding: 0.5rem; */
}

/* .month {
    padding: 1rem 0;
} */
input {
    width: 55px;
    height: 2.5rem;
    border-radius: 7.5px;
    font-size: 1.2rem;
    font-weight: 700;
    padding: .5rem;
}

.line {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

hr {
    
    width: 100%;
    color: black;
    fill: black;
}
#arrow {
    height: 30px;
    width: 30px;
    background-color: var(--Purple);
    border-radius: 50%;
    padding: 1rem;
    position: absolute;
}

#validDay, #validMon, #validYr {
    font-size: .7rem;
    color: var(--Lightred);
}

.result {
    padding: 1rem;
}
@media screen and (min-width:376px) {
    main {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: white;
        width: 60vw;
        height: 65vh;
        border-radius: 30px;
        border-bottom-right-radius: 120px;
        padding: 2rem 1rem;
    }

    .line {
        display: flex;
        align-items: center;
        justify-content: end;
    }
}